body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
    color: #fff;
    text-align: center;
    font-size: 48px;
}

.search {
    text-align: center;
}

.card--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin: 50px 20px;
}

.card {
    position: relative;
    min-width: 15%;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 5px lightslategray;
}

.card--img {
    height: 85%;
    align-self: center;
}

.card--info {
    height: 15%;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.card--info h3, .card--info p {
    margin: 0;
}